* {
  margin: 0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  box-sizing: border-box;
}
.Mainhead {
  width: 100%;
  background-color: rgb(245, 245, 245);
  /*position: relative;*/
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Header {
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  /*margin-top: 25px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 9999;

}
.log {
  position: absolute;
  width: 180px;
  height: 50px;

  margin-left: 40px;
  margin-top: 15px;
}
.logo {
  width: 170px;
  height: 145px;
  cursor: pointer;
}
.login {
  width: 300px;
  height: 25px;
  margin-top: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.loginco {
  display: flex;
  gap: 20px;
  font-weight: lighter;
  align-items: center;
}
.loginco a {
  text-decoration: none;
  font-size: 14px;
  color: black;
}
.loginco :hover {
  color: rgb(165, 155, 155);
}
.catogery {
  width: 750px;
  height: 45px;
  background-color: white;
  margin-left: 375px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catname {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.catname a {
  display: flex;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.searchbutt {
  width: 350px;
  height: 45px;
  background-color: white;

  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.SearchB {
  display: flex;
  gap: 30px;
  border-radius: 20px;
  width: 200px;
  background-color: white;
  border-color: white;
  cursor: pointer;
}
.Search :hover {
  color: rgb(111, 113, 115);
}
.Search input{
  border-color: white;
  padding: 5px;
  border-radius: 20px;
}
.Search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  
}
.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  cursor: pointer;
}
.icons img :hover {
  color: brown;
}
.bottomheadtext {
  width: 900px;
  height: 20px;
  background-color: rgb(245, 245, 245);
  margin-top: auto;
  align-self: center;
  justify-self: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: small;
  justify-content: center;
  font-weight: bolder;
}.texthbot{
  margin-top: 5px;

}.here{
  margin-top: 5px;
}
.content {
  width: 100%;

  background-color: white;
}
.videoad {
  position: relative;
  width: 100%;
  height: 690px;
  background-color: white;
  overflow: hidden;
}
.videoad video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  z-index: 2;
  width: 500px;
  height: 150px;

  margin-bottom: 500px;
  top: 70%;
  left: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overtext h1 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: bolder;
}
.overtext h5 {
  margin-left: 50px;
  padding: 1px;
  color: white;
}
.overbutton {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.overbutton button {
  border-radius: 20px;
  width: 85px;
  height: 30px;
  font-weight: bolder;
  cursor: pointer;
}
.overbutton :hover {
  color: rgb(121, 124, 126);
}

.firstgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.img {
  padding: 30px;
  color: white;
  background-color: white;
  font-size: 20px;
  border: 20px solid white;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
}
.img1 {
  background-color: white;
}
.img2 {
  background-color: white;
}
.img3 {
  background-color: white;
}
.imgg {
  display: flex;
  flex-direction: row;
}
.imgg h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-weight: 10px;
}

.firstgridtext h2 {
  margin-left: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.secgridtext {
  margin-left: 50px;
  font-weight: lighter;
}
.secondgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  cursor: pointer;

}
.secgridtext h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.thirdgrid {
  margin-top: 90px;
  grid-template-rows: repeat(2, 1fr);
  border: 5px solid white;
}
.thirdimg {
  background-color: white;
  border-bottom: 25px solid white;
  object-fit: cover;
  overflow: hidden;
  padding-bottom: 50px;
  cursor: pointer;
}
.footer {
  margin-top: 200px;
  margin-bottom: 80px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}
.footertext {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.list {
  display: flex;
  list-style: none;
  gap: 20px;
  font-weight: lighter;
  cursor: pointer;
}
.list li {
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.footertext h5 {
  font-weight: lighter;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.line {
  width: 1300px;
  height: 1px;
  background-color: antiquewhite;
  margin-left: 100px;
}.models{
  width: 900px;
  
  margin-left: 310px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 10px;
  
}.item img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
  
}
